In [1]:
import pandas as pd
import numpy as np
import requests
import os
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# Gather

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
folder_name = 'image_predictions'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

url_list = ['https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv']

for url in url_list:
    response = requests.get(url)
    with open(os.path.join(folder_name , url.split('/')[-1]) , mode = 'wb') as file:
             file.write(response.content)

In [4]:
image_prediction = pd.read_csv('image_predictions/image-predictions.tsv' , sep = '\t')

### Additional Data via the Twitter API

In [5]:
# I used configparser for my API keys and secret.
# This code returns error if you do not input your API and secret info.

import configparser

config = configparser.ConfigParser()

config['consumer'] = {
    'key': 'KTXWZ3Ucy7o9xodDyHNM9expc',
    'secret': 'kspq1bKtllzCVCK8XIlEuINz7qAzOw9xufM0OT2PWGvxGwbJUw'
}
config['access'] = {
    'token': '1160345017220812800-vitA9IyHFSrHg8zJnK2MjwZWk4lAEI',
    'secret': '5CFzbBJw8NzpDOxOiGs79PnBURGGEqZWKqOb6dZuJZsnt',
}
with open('config.ini', 'w') as file:
    config.write(file)

In [6]:
# read my APi info from config.ini

consumer_key = config['consumer']['key']
consumer_secret = config['consumer']['secret']
access_token = config['access']['token']
access_secret = config['access']['secret']


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth , wait_on_rate_limit=True)

In [7]:
tweet_ids = twitter_archive.tweet_id.values

# Use timer to calculate how long this code takes to run
start = timer()

# Create a text file called tweet_json.txt
with open ('tweet_json.txt' , 'w') as outfile:
    for tweet_id in tweet_ids:
        try:
            # Get tweet informations
            tweet_info = api.get_status(tweet_id, tweet_mode='extended')
            #Write in the text file
            json.dump(tweet_info._json , outfile)
            # Put a indent for better readiness
            outfile.write('\n')
        
        # Error tweets
        except tweepy.TweepError as e:
            # Print tweet ID and error code description
            print ("Tweet ID:{}{}".format(str(tweet_id),e.reason))

# Timer calculation            
end = timer()
print(end - start , "seconds")

In [8]:
tweepy_data = pd.read_json('tweet_json.txt' , lines = True)

# Assess

## twitter_archive

In [9]:
twitter_archive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [10]:
# tweet id has wrong datatype
# timestamp has wrong datatype

twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
# some strange names
twitter_archive.name.value_counts()

None       745
a           55
Charlie     12
Oliver      11
Lucy        11
          ...
Timofy       1
Dewey        1
Reptar       1
Livvie       1
Kaiya        1
Name: name, Length: 957, dtype: int64

In [12]:
twitter_archive.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [13]:
#this tweet numerators need to be fixed
twitter_archive.query('rating_numerator == 75').text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True)

        0   1
340  9.75  10
695  9.75  10

In [14]:
# numerators are not 75, 9.75.
twitter_archive.query('rating_numerator == 75')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
340,832215909146226688,NaN,NaN,2017-02-16 13:11:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: This is Logan, the Chow who liv...",7.867091e+17,4.196984e+09,2016-10-13 23:23:56 +0000,https://twitter.com/dog_rates/status/786709082...,75,10,Logan,None,None,None,None
695,786709082849828864,NaN,NaN,2016-10-13 23:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Logan, the Chow who lived. He solemnly...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/786709082...,75,10,Logan,None,None,None,None

In [15]:
# outliers
twitter_archive.query('rating_numerator == 1776')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Atticus. He's quite simply America af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277...,1776,10,Atticus,None,None,None,None

In [16]:
# denominators should be 10
twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

quality:
- `tweet_id` datatype needs to be object (str)
- `timestamp` column is object, not datetime
- `timestamp` column contains +0000 which looks unnecessary
- retweet or reply tweets are unnecessary (only original dog ratings)
- `name` column has some strange names (a, an etc.)
- some `rating_numerator` has outliers
- `rating_numerator` of id 786709082849828864 is decimal
- some`rating_denominator` are not 10
- `doggo`, `floofer`, `pupper`, `puppo` columns (dog_stage column) have missing values, and some values are None instead of NaN

tidiness:
- `doggo`, `floofer` `pupper`, `puppo` column should be one column

## image_prediction

In [17]:
image_prediction.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [18]:
image_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

- some column headers are hard to understand(`img_num`, `p1`, `p1_conf`, `p1_dog`, etc.)
- `tweet_id` datatype needs to be object
- dog breed names in `p1`, `p2`, `p3` columns are inconsistent (lowercase, uppercase)

## tweepy_data

In [19]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
tweepy_data.head(1)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,NaN,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,None,NaN,False,7703,36183,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN

In [20]:
tweepy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2331 non-null   datetime64[ns, UTC]
 1   id                             2331 non-null   int64
 2   id_str                         2331 non-null   int64
 3   full_text                      2331 non-null   object
 4   truncated                      2331 non-null   bool
 5   display_text_range             2331 non-null   object
 6   entities                       2331 non-null   object
 7   extended_entities              2059 non-null   object
 8   source                         2331 non-null   object
 9   in_reply_to_status_id          77 non-null     float64
 10  in_reply_to_status_id_str      77 non-null     float64
 11  in_reply_to_user_id            77 non-null     float64
 12  in_reply_to_user_id_str        77 non-null     float64
 13  in_reply_to_screen_name        77 non-null     object
 14  user                           2331 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2331 non-null   bool
 20  retweet_count                  2331 non-null   int64
 21  favorite_count                 2331 non-null   int64
 22  favorited                      2331 non-null   bool
 23  retweeted                      2331 non-null   bool
 24  possibly_sensitive             2196 non-null   float64
 25  possibly_sensitive_appealable  2196 non-null   float64
 26  lang                           2331 non-null   object
 27  retweeted_status               163 non-null    object
 28  quoted_status_id               26 non-null     float64
 29  quoted_status_id_str           26 non-null     float64
 30  quoted_status_permalink        26 non-null     object
 31  quoted_status                  24 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(12)
memory usage: 519.1+ KB

## Quality Issues

**twitter_archive**

1- `tweet_id` datatype needs to be object (str)\
2- `timestamp` column is object, not datetime\
3- `timestamp` column contains +0000 which looks unnecessary\
4- retweet or reply tweets are unnecessary (only original dog ratings)\
5- `name` column has some strange names (a, an etc.)\
6- `rating_numerator` of id 786709082849828864 is decimal\
7- `doggo`, `floofer`, `pupper`, `puppo` columns (dog_stage column) have missing values

**image_prediction**

1- some column headers are hard to understand(`img_num`, `p1`, `p1_conf`, `p1_dog`, etc.)\
2- `tweet_id` datatype needs to be object\
3- dog breed names in `p1`, `p2`, `p3` columns are inconsistent (lowercase, uppercase)

**tweepy_data**

1- drop unneccesary columns (keep `id` , `retweet_count`, `favorite_count` columns)\
2- `id` column datatype needs to be object\
3- change id column name to `tweet_id`

## Tidiness

#### twitter_archive

1- `doggo`, `floofer`, `pupper`, `puppo` columns instead of a single column dog_stage\
2- `rating_numerator`, `rating_denominator` columns should be one column(rating)

**After taking care of dirty and untidy data, all tables need to be merged.\
According to the rule of tidy data:**\
1: each variables forms a column\
2: each observation forms a row\
3: each type of observational unit forms a table\
\
And `twitter_archive`, `image_prediction`, `tweepy_data` are all about WeRateDog tweet information, hence it breaks the 3rd rule. I should merge all of them.

# Data cleaning

Data cleaning has three steps.

**Define**: convert our assessments into defined cleaning tasks. These definitions also serve as an instruction list so others (or yourself in the future) can look at your work and reproduce it.

**Code**: convert those definitions to code and run that code.

**Test**: test your dataset, visually or with code, to make sure your cleaning operations worked.

In [21]:
# make a copy

In [22]:
twitter_archive_clean = twitter_archive.copy()
image_prediction_clean = image_prediction.copy()
tweepy_data_clean = tweepy_data.copy()

## twitter_archive_clean

### 1- `tweet_id` datatype needs to be object (str)\
### 2- `timestamp` column is object, not datetime\
### 3- `timestamp` column contains +0000 which looks unnecessary

#### Define

Change datatype from integer to string
Change datatype from string to datetime
Slice data

#### Code

In [23]:
# id to string
twitter_archive_clean.tweet_id = twitter_archive_clean.tweet_id.astype(str)
# remove +0000
twitter_archive_clean.timestamp = twitter_archive_clean.timestamp.str[:-6]
# timestamp to datetime
twitter_archive_clean.timestamp = pd.to_datetime(twitter_archive_clean.timestamp)

#### Test

In [24]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   object
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   datetime64[ns]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(10)
memory usage: 313.0+ KB

In [25]:
twitter_archive_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

### 4- retweet or reply tweets are unnecessary (only original dog ratings)

#### Define

Drop retweets and replies, then drop unnecessary columns

#### Code

In [26]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   object
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   datetime64[ns]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(10)
memory usage: 313.0+ KB

In [27]:
# drop 78 replies
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.in_reply_to_status_id.isnull()]

In [28]:
# drop 181 retweets
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.retweeted_status_id.isnull()]

In [29]:
# 2356 - 78 - 181 = 2097
len(twitter_archive_clean)

2097

In [30]:
# drop unnecessary columns
coldrop = twitter_archive_clean.iloc[:,np.r_[1,2,6:9]].columns
twitter_archive_clean.drop(coldrop, axis = 1,inplace = True)

#### Test

In [31]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2097 non-null   object
 1   timestamp           2097 non-null   datetime64[ns]
 2   source              2097 non-null   object
 3   text                2097 non-null   object
 4   expanded_urls       2094 non-null   object
 5   rating_numerator    2097 non-null   int64
 6   rating_denominator  2097 non-null   int64
 7   name                2097 non-null   object
 8   doggo               2097 non-null   object
 9   floofer             2097 non-null   object
 10  pupper              2097 non-null   object
 11  puppo               2097 non-null   object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 213.0+ KB

### 5- name column has some strange names (a, an etc.)

#### Define

All dog names are capitalized, and some words extracted as names by mistake are all lowercase.
Make a filter to figure out all lowercase names and drop those names.

#### Code

In [32]:
# filter out all lowercase names
name_filter = twitter_archive_clean.name.str.islower()
column_name = 'name'
# drop lowercase names
twitter_archive_clean.loc[name_filter, column_name] = np.nan

#### Test

In [33]:
twitter_archive_clean.name.value_counts()

None              603
Lucy               11
Charlie            11
Oliver             10
Cooper             10
Tucker              9
Penny               9
Lola                8
Sadie               8
Winston             8
Daisy               7
Toby                7
Bella               6
Oscar               6
Jax                 6
Bo                  6
Bailey              6
Stanley             6
Koda                6
Bentley             5
Buddy               5
Milo                5
Leo                 5
Rusty               5
Chester             5
Scout               5
Dave                5
Louis               5
Jack                4
Jerry               4
Winnie              4
George              4
Jeffrey             4
Chip                4
Larry               4
Phil                4
Boomer              4
Scooter             4
Duke                4
Sophie              4
Reggie              4
Clarence            4
Maggie              4
Cassie              4
Alfie               4
Derek               4
Gary                4
Bear                4
Clark               4
Finn                4
Oakley              4
Archie              4
Gus                 4
Brody               4
Dexter              4
Sammy               4
Zeke                3
Beau                3
Wyatt               3
Ted                 3
Ellie               3
Gerald              3
Wilson              3
Maximus             3
Sunny               3
Malcolm             3
Shadow              3
Reginald            3
Ruby                3
Rosie               3
Earl                3
Calvin              3
Nala                3
Samson              3
Kyle                3
Hank                3
Moose               3
Wallace             3
Walter              3
Zoey                3
Doug                3
Gizmo               3
Mia                 3
Lily                3
Waffles             3
Klevin              3
Jimothy             3
Sebastian           3
Steven              3
Luna                3
Olive               3
Bruce               3
Vincent             3
Reese               3
Max                 3
Louie               3
Carl                3
Riley               3
Otis                3
Loki                3
Olivia              2
Kreg                2
Ozzy                2
Dakota              2
Smokey              2
Sam                 2
Kenneth             2
Bernie              2
Kilo                2
Griffin             2
Patrick             2
Harold              2
Curtis              2
Finley              2
Fiona               2
Crystal             2
Atticus             2
Cash                2
Linda               2
Trooper             2
Axel                2
Ava                 2
Misty               2
Sandy               2
Fred                2
Jackson             2
Sampson             2
Herm                2
Kirby               2
Kevin               2
Gabe                2
Atlas               2
Lennon              2
Odie                2
Keith               2
Indie               2
Franklin            2
Romeo               2
Alice               2
Peaches             2
Hobbes              2
Solomon             2
Terry               2
Arnie               2
Lorenzo             2
Rocky               2
Baxter              2
Benji               2
Churlie             2
Tyr                 2
Maddie              2
Pickles             2
Aspen               2
Sugar               2
Cupcake             2
Abby                2
Oshie               2
Layla               2
Herald              2
Sansa               2
Roosevelt           2
Jimison             2
Remington           2
Benedict            2
Hammond             2
Chet                2
Sarge               2
Rufus               2
Jeph                2
CeCe                2
Flávio              2
Kreggory            2
Django              2
Mister              2
Percy               2
Penelope            2
Coco                2
Keurig              2
Pippa               2
Lincoln             2
Oliviér             2
Marley              2
Theodore            2
Bisquick            2
Nelly               2
Lou                 2
Ash                 2
Ollie               2
Frankie             2
Luca                2
Chuckles            2
Rory                2
Blitz               2
Wally               2
Yogi                2
Raymond             2
Panda               2
Juno                2
Colby               2
Hunter              2
Jiminy              2
Calbert             2
Elliot              2
Moe                 2
Watson              2
Albert              2
Bubbles             2
Neptune             2
Albus               2
Frank               2
Chipson             2
Titan               2
Maxaroni            2
Opal                2
Lenny               2
Belle               2
Piper               2
Jesse               2
Dash                2
Coops               2
Doc                 2
Rocco               2
Phineas             2
Paisley             2
Charles             2
Thumas              2
Eli                 2
Cody                2
Phred               2
Brad                2
Bob                 2
Dex                 1
Jimbo               1
Karl                1
Cecil               1
Halo                1
Zuzu                1
Crumpet             1
Blipson             1
Kody                1
Einstein            1
Jordy               1
Mark                1
Izzy                1
Anthony             1
Kendall             1
Rorie               1
Bradley             1
Emanuel             1
Ferg                1
Bobbay              1
Rose                1
Kaia                1
Norman              1
Jeremy              1
Nugget              1
Michelangelope      1
Jonah               1
Lipton              1
Orion               1
Cermet              1
Miley               1
Meera               1
Lilly               1
Aldrick             1
Pippin              1
Ralphson            1
Roscoe              1
Shaggy              1
Brandonald          1
Arya                1
Willie              1
Mason               1
Odin                1
Durg                1
Walker              1
Glacier             1
Cupid               1
Shooter             1
Dwight              1
Hall                1
Thor                1
Stephan             1
Harper              1
Ulysses             1
Autumn              1
Sid                 1
Creg                1
Acro                1
Jarod               1
Karll               1
Dunkin              1
Patch               1
Tyrus               1
Eve                 1
Sailer              1
Dook                1
Pip                 1
Grizzie             1
Brandy              1
Jessiga             1
Lance               1
Pluto               1
Pinot               1
Crouton             1
Hubertson           1
Tanner              1
Sundance            1
Reptar              1
Tedders             1
Philbert            1
Pete                1
Ebby                1
Zoe                 1
Mimosa              1
Snickers            1
Jaspers             1
Obi                 1
Tess                1
Evy                 1
Venti               1
Superpup            1
Banditt             1
Bobby               1
Bonaparte           1
Rumble              1
Sage                1
Strider             1
Jangle              1
Logan               1
Ralph               1
Craig               1
Bungalo             1
Obie                1
Pumpkin             1
Danny               1
Pilot               1
Ken                 1
Puff                1
Sunshine            1
Lorelei             1
Monster             1
Jackie              1
Willow              1
Charl               1
Sojourner           1
Bert                1
Rascal              1
Aja                 1
Florence            1
Combo               1
Olaf                1
Smiley              1
Corey               1
Tito                1
Fynn                1
Darla               1
Josep               1
Freddery            1
Chompsky            1
Rontu               1
Blu                 1
Luther              1
Mabel               1
Maxwell             1
Diogi               1
Ivar                1
Bruno               1
Kathmandu           1
Jennifur            1
Dietrich            1
Gòrdón              1
Julius              1
Skye                1
Beckham             1
Beemo               1
Jarvis              1
Swagger             1
DonDon              1
Amélie              1
Maks                1
JD                  1
Maya                1
Grey                1
Kial                1
Brooks              1
Storkson            1
River               1
Erik                1
Timmy               1
Al                  1
Sonny               1
Edmund              1
Randall             1
Divine              1
Marty               1
Frönq               1
Hercules            1
Tug                 1
Gustav              1
Strudel             1
Brudge              1
Malikai             1
Naphaniel           1
Tripp               1
Butters             1
Wesley              1
Champ               1
Quinn               1
Rooney              1
Bones               1
Buckley             1
Kingsley            1
Ziva                1
Ridley              1
Sandra              1
Dylan               1
Nigel               1
Tassy               1
Spark               1
Andru               1
Paull               1
Oddie               1
Kramer              1
Cal                 1
Butter              1
Leela               1
Dante               1
Tilly               1
Seamus              1
Travis              1
Scott               1
Sierra              1
Karma               1
Fletcher            1
Mary                1
Levi                1
Tuco                1
Claude              1
Eugene              1
Koko                1
Chelsea             1
Dale                1
Bradlay             1
Napolean            1
Alejandro           1
Cilantro            1
Comet               1
Doobert             1
Sprout              1
Dawn                1
Clarq               1
Blakely             1
Ben                 1
Enchilada           1
Barry               1
Tonks               1
Todo                1
Anna                1
Noah                1
Chevy               1
Ito                 1
Murphy              1
Chloe               1
Carly               1
Marq                1
Franq               1
Laika               1
Kallie              1
Ginger              1
Canela              1
Kloey               1
Spencer             1
Jeffri              1
Emmie               1
Pupcasso            1
Fizz                1
Pavlov              1
Torque              1
Godi                1
Zara                1
Tyrone              1
Chuck               1
Iroh                1
Darrel              1
Mac                 1
Leonard             1
Julio               1
Simba               1
Moofasa             1
Georgie             1
Perry               1
Joshwa              1
Stefan              1
Harrison            1
Zeek                1
Billl               1
Mollie              1
Burt                1
Rey                 1
Noosh               1
Jessifer            1
Anakin              1
Kuyu                1
Clybe               1
Carper              1
Tommy               1
Batdog              1
Beebop              1
Farfle              1
Snoop               1
Gidget              1
Asher               1
Fillup              1
Remus               1
Socks               1
Tuck                1
Cali                1
Liam                1
Kevon               1
General             1
Stubert             1
Astrid              1
Bobble              1
Brockly             1
Angel               1
Balto               1
Mona                1
Mosby               1
Berkeley            1
Pipsy               1
Kara                1
Sobe                1
Brandi              1
Theo                1
Ember               1
Stephanus           1
Gunner              1
Skittles            1
Eriq                1
Devón               1
Timison             1
Covach              1
Dallas              1
Mookie              1
Hanz                1
Bloo                1
Hero                1
Furzey              1
Stu                 1
Adele               1
Pubert              1
Daniel              1
Betty               1
Bubba               1
Geoff               1
O                   1
Link                1
Tiger               1
Jo                  1
Taco                1
Jaycob              1
Sully               1
Davey               1
Stuart              1
Ambrose             1
Lucky               1
Goose               1
Alexanderson        1
Iggy                1
Zooey               1
Tater               1
Rhino               1
Goliath             1
Bloop               1
Geno                1
Ronduh              1
Margo               1
Newt                1
Coopson             1
Henry               1
Tupawc              1
Birf                1
Deacon              1
Dot                 1
Nollie              1
Duchess             1
Kenny               1
Holly               1
Gerbald             1
Carbon              1
Genevieve           1
Wafer               1
Christoper          1
Mutt                1
Sora                1
Bauer               1
Rueben              1
Cheesy              1
Shelby              1
Billy               1
Kirk                1
Ralpher             1
Arlo                1
Bayley              1
Arlen               1
Dotsy               1
Lili                1
Chesney             1
Chaz                1
Ralphus             1
Ralphy              1
Mingus              1
Stewie              1
Finnegus            1
Kayla               1
Blanket             1
Klein               1
BeBe                1
Mojo                1
Eevee               1
Pancake             1
Hamrick             1
Pawnd               1
Charleson           1
Lenox               1
Dug                 1
Meatball            1
Snoopy              1
Mattie              1
Kulet               1
Barney              1
Rufio               1
Happy               1
Yukon               1
Maisey              1
Coleman             1
Jareld              1
Chuq                1
Oreo                1
Rizzo               1
Edd                 1
Baloo               1
Rumpole             1
Bobb                1
Wiggles             1
Alfy                1
Tayzie              1
Stark               1
Filup               1
Lugan               1
Milky               1
Terrenth            1
Lilli               1
Trigger             1
Bell                1
Tom                 1
Rubio               1
Richie              1
Ashleigh            1
Kellogg             1
Darby               1
Carll               1
Spanky              1
Howie               1
Eazy                1
Mike                1
Moreton             1
Tycho               1
Monkey              1
Bilbo               1
Berb                1
Hazel               1
Gromit              1
Schnitzel           1
Harry               1
Kane                1
Pablo               1
Baron               1
Dobby               1
Laela               1
Jamesy              1
Striker             1
Tino                1
Ralf                1
Alf                 1
Keet                1
Chadrick            1
Fido                1
Harnold             1
Skittle             1
Brownie             1
Grizz               1
Fabio               1
Ricky               1
Marlee              1
Saydee              1
Stormy              1
Lassie              1
Molly               1
Pepper              1
Apollo              1
Lilah               1
Kanu                1
Juckson             1
Steve               1
Jeb                 1
Rudy                1
Banjo               1
Teddy               1
Humphrey            1
Bertson             1
Glenn               1
Bruiser             1
Jomathan            1
Kyro                1
Hermione            1
Jim                 1
Millie              1
Miguel              1
Antony              1
Chubbs              1
Philippe            1
Marvin              1
Andy                1
Clarkus             1
Mairi               1
Crimson             1
Trevith             1
Ed                  1
Lambeau             1
Ike                 1
Severus             1
Snicku              1
Chesterson          1
Jett                1
Clifford            1
Gert                1
Crawford            1
Tango               1
Shakespeare         1
Yoda                1
Ron                 1
Ester               1
Trip                1
William             1
Rodman              1
Siba                1
Kobe                1
Rover               1
Augie               1
Scruffers           1
Herschel            1
Jazzy               1
Shikha              1
Schnozz             1
Rilo                1
Tove                1
Ole                 1
Jameson             1
Barclay             1
Mauve               1
Joey                1
Blue                1
Cheryl              1
Jiminus             1
Bodie               1
Gilbert             1
Petrick             1
Fiji                1
Tebow               1
Kawhi               1
Colin               1
Bowie               1
Mack                1
Zeus                1
Donny               1
Sparky              1
Winifred            1
Rodney              1
Boston              1
Arnold              1
Mo                  1
Monty               1
Meyer               1
Edgar               1
Duddles             1
Vince               1
Lolo                1
Wishes              1
Ruffles             1
Shawwn              1
Ace                 1
Chef                1
Biden               1
Godzilla            1
Rambo               1
Nida                1
Pherb               1
Damon               1
Suki                1
Sweets              1
Brat                1
Cedrick             1
Bookstore           1
Caryl               1
Hurley              1
Lillie              1
Jebberson           1
Flurpson            1
Longfellow          1
Lulu                1
Dudley              1
Raphael             1
Huck                1
Taz                 1
Katie               1
Bode                1
Jersey              1
Buddah              1
Grizzwald           1
Callie              1
Peanut              1
Ralphie             1
Stella              1
Brian               1
Dixie               1
DayZ                1
Sailor              1
Sephie              1
Gin                 1
Derby               1
Maude               1
Traviss             1
Jerome              1
Shiloh              1
Kota                1
Binky               1
Harlso              1
Terrance            1
Brady               1
Eleanor             1
Kona                1
Cuddles             1
Major               1
Rizzy               1
Gordon              1
Boots               1
Robin               1
Nimbus              1
Timber              1
Lucia               1
Mitch               1
Shnuggles           1
Mya                 1
Aiden               1
Clyde               1
Lupe                1
Bluebert            1
Akumi               1
Cannon              1
Dutch               1
Jay                 1
Brutus              1
Grady               1
Aqua                1
Poppy               1
Bronte              1
Lizzie              1
Rolf                1
Vinscent            1
Rinna               1
Rupert              1
Toffee              1
Gustaf              1
Hector              1
Sprinkles           1
Flash               1
Fwed                1
Jazz                1
Sweet               1
Emmy                1
Loomis              1
Shadoe              1
Jed                 1
Sky                 1
Willy               1
Timofy              1
Dewey               1
Livvie              1
Tobi                1
Benny               1
Leonidas            1
Amy                 1
Tedrick             1
Jeffrie             1
Remy                1
Ralphé              1
Reagan              1
Lacy                1
Beya                1
Huxley              1
Kollin              1
Cora                1
Nico                1
Amber               1
Linus               1
Heinrich            1
Samsom              1

### 6- rating_numerator of id 786709082849828864 is decimal

#### Define

extract correct rating score from `text` column by using regular expressions,\
replace it to existing rating columns

#### Code

In [34]:
# get correct ratings
correct_rating = twitter_archive_clean.text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True)
twitter_archive_clean['rating_numerator'] = correct_rating
# some numerators are float
twitter_archive_clean['rating_numerator'] = twitter_archive_clean['rating_numerator'].astype(float)

#### Test

In [35]:
twitter_archive_clean.rating_numerator.sample(5)

1912     8.0
1179    11.0
888     11.0
444     10.0
1141    13.0
Name: rating_numerator, dtype: float64

### 7- `doggo`, `floofer`, `pupper`, `puppo` columns (dog_stage column) have missing values

#### Define

Extract dog stage from text column\

#### Code

In [36]:
# doggo
twitter_archive_clean['doggo'] = twitter_archive_clean.text.str.extract('([Dd]oggo)')

In [37]:
# floofer
twitter_archive_clean['floofer'] = twitter_archive_clean.text.str.extract('([Ff]loofer)')

In [38]:
# pupper
twitter_archive_clean['pupper'] = twitter_archive_clean.text.str.extract('([Pp]upper)')

In [39]:
# puppo
twitter_archive_clean['puppo'] = twitter_archive_clean.text.str.extract('([Pp]uppo)')

#### Test

In [40]:
# I was able to get more information from text (83 → 90)
twitter_archive_clean.doggo.value_counts()

doggo    83
Doggo     7
Name: doggo, dtype: int64

In [41]:
# although since the text column doesn't have dog stage information in some tweets, I have no way to get it.
print(twitter_archive_clean.at[0,'text'])

This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU

## Image_prediction

### 1- some column headers are hard to understand(img_num, p1, p1_conf, p1_dog, etc.)

#### Define

create new columns `dog_breed` , `confidence` , `dog_or_not` to store all p1, p2, p3 datas\
change `img_num` name to `image_counts`\
drop unnecessary columns

#### Code

In [42]:
# create dog breed column
def dog_breed(row):
    if row.p1_dog:
        return row.p1
    elif row.p2_dog:
        return row.p2
    elif row.p3_dog:
        return row.p3
    else:
        return np.nan
    
image_prediction_clean['dog_breed'] = image_prediction_clean.apply(lambda row: dog_breed(row),axis=1)

In [43]:
# create confidence column
def dog_prediction(row):
    if row.p1_dog:
        return row.p1_conf
    elif row.p2_dog:
        return row.p2_conf
    elif row.p3_dog:
        return row.p3_conf
    else:
        return np.nan
    
image_prediction_clean['confidence'] = image_prediction_clean.apply(lambda row: dog_prediction(row),axis=1)

In [44]:
# create dog or not column
dog_or_not = []
for i in range(2075):
    if image_prediction_clean['p1_dog'][i]:
        dog_or_not.append("True")
        
    elif image_prediction_clean['p2_dog'][i]:
        dog_or_not.append("True")
        
    elif image_prediction_clean['p3_dog'][i]:
        dog_or_not.append("True")
        
    else:
        dog_or_not.append("False")
        
image_prediction_clean['dog_or_not'] = dog_or_not

In [45]:
image_prediction_clean = image_prediction_clean.rename(columns={'img_num':'image_counts'})

In [46]:
coldrop = image_prediction_clean.iloc[:,np.r_[3:12]].columns
image_prediction_clean.drop(coldrop, axis = 1,inplace = True)

#### Test

In [47]:
image_prediction_clean.head()

,tweet_id,jpg_url,image_counts,dog_breed,confidence,dog_or_not
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True

### 2- tweet_id datatype needs to be object

#### Define

change datatype to string

#### Code

In [48]:
image_prediction_clean.tweet_id = image_prediction_clean.tweet_id.astype(str)

#### Test

In [49]:
image_prediction_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tweet_id      2075 non-null   object
 1   jpg_url       2075 non-null   object
 2   image_counts  2075 non-null   int64
 3   dog_breed     1751 non-null   object
 4   confidence    1751 non-null   float64
 5   dog_or_not    2075 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 97.4+ KB

### 3- dog breed names are inconsistent (lowercase, uppercase)

#### Define

change dog names into lowercase

#### Code

In [50]:
image_prediction_clean.dog_breed = image_prediction_clean.dog_breed.str.lower()

#### Test

In [51]:
image_prediction_clean.head(1)

,tweet_id,jpg_url,image_counts,dog_breed,confidence,dog_or_not
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,welsh_springer_spaniel,0.465074,True

## tweepy_data

### 1- unneccesary columns (keep id , retweet_count, favorite_count columns)

#### Define

reassign columns

#### Code

In [52]:
tweepy_data_clean = tweepy_data_clean[['id','retweet_count','favorite_count']]

#### Test

In [53]:
tweepy_data_clean.head(1)

                   id  retweet_count  favorite_count
0  892420643555336193           7703           36183

## 2- id column datatype needs to be object

#### Define

change datatype to string

#### Code

In [54]:
tweepy_data_clean.id = tweepy_data_clean.id.astype(str)

#### Test

In [55]:
tweepy_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2331 non-null   object
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(2), object(1)
memory usage: 54.8+ KB

## 3- change id column name to tweet_id

#### Define

Rename `id` column

#### Code

In [56]:
tweepy_data_clean = tweepy_data_clean.rename(columns={'id':'tweet_id'})

#### Test

In [57]:
tweepy_data_clean.head(1)

             tweet_id  retweet_count  favorite_count
0  892420643555336193           7703           36183

# Tidiness

## Twitter_archive

### 1- doggo, floofer, pupper, puppo columns instead of a single column dog_stage

In [58]:
twitter_archive_clean['dog_stages'] = twitter_archive_clean.text.str.extract('([Dd]oggo|[Ff]loofer|[Pp]upper|[Pp]uppo)', expand = True)

In [59]:
twitter_archive_clean.doggo.replace('None', '', inplace=True)
twitter_archive_clean.doggo.replace(np.NaN, '', inplace=True)
twitter_archive_clean.floofer.replace('None', '', inplace=True)
twitter_archive_clean.floofer.replace(np.NaN, '', inplace=True)
twitter_archive_clean.pupper.replace('None', '', inplace=True)
twitter_archive_clean.pupper.replace(np.NaN, '', inplace=True)
twitter_archive_clean.puppo.replace('None', '', inplace=True)
twitter_archive_clean.puppo.replace(np.NaN, '', inplace=True)

In [60]:
#twitter_archive_clean['dog_stages'] = twitter_archive_clean['text'].str.extract('(doggo|floofer|pupper|puppo)', expand = True)

In [61]:
twitter_archive_clean['dog_stages'] = twitter_archive_clean.doggo + twitter_archive_clean.floofer + twitter_archive_clean.pupper + twitter_archive_clean.puppo
twitter_archive_clean.loc[twitter_archive_clean.dog_stages == '[Dd]oggo[Pp]upper', 'dog_stages'] = 'doggo, pupper'
twitter_archive_clean.loc[twitter_archive_clean.dog_stages == '[Dd]oggo[Pp]uppo', 'dog_stages'] = 'doggo, puppo'
twitter_archive_clean.loc[twitter_archive_clean.dog_stages == '[Dd]oggo[Ff]loofer', 'dog_stages'] = 'doggo, floofer'

In [62]:
twitter_archive_clean.dog_stages.replace('', np.NaN, inplace=True)

In [63]:
twitter_archive_clean['dog_stages'] = twitter_archive_clean['dog_stages'].str.lower()

In [64]:
twitter_archive_clean.dog_stages

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9              doggo
10               NaN
11               NaN
12             puppo
13               NaN
14             puppo
15               NaN
16               NaN
17               NaN
18               NaN
20               NaN
21               NaN
22               NaN
23               NaN
24               NaN
25               NaN
26               NaN
27               NaN
28               NaN
29            pupper
31               NaN
33               NaN
34               NaN
35               NaN
37               NaN
38               NaN
39               NaN
40               NaN
41               NaN
42               NaN
43             doggo
44               NaN
45               NaN
46           floofer
47               NaN
48               NaN
49            pupper
50               NaN
51               NaN
52               NaN
53               NaN
54            pupper
56            pupper
57               NaN
58               NaN
59               NaN
60               NaN
61               NaN
62               NaN
63               NaN
65               NaN
66               NaN
67               NaN
69               NaN
70               NaN
71             puppo
72               NaN
75               NaN
76               NaN
77               NaN
79               NaN
80               NaN
81               NaN
82            pupper
83             doggo
84               NaN
85             puppo
86               NaN
87               NaN
88               NaN
89               NaN
90               NaN
92            pupper
93               NaN
94             puppo
96               NaN
98            pupper
99             doggo
100              NaN
102              NaN
103              NaN
104              NaN
105              NaN
106            puppo
107           pupper
108            doggo
110            doggo
111              NaN
112              NaN
114              NaN
115              NaN
116              NaN
117              NaN
119              NaN
120              NaN
121            doggo
122              NaN
123              NaN
125              NaN
126              NaN
127              NaN
128              NaN
129            puppo
131              NaN
133              NaN
134            puppo
135           pupper
136              NaN
138              NaN
139              NaN
140              NaN
141              NaN
142              NaN
143              NaN
144              NaN
145              NaN
147              NaN
150              NaN
151              NaN
152              NaN
153              NaN
154              NaN
156              NaN
157              NaN
158              NaN
161              NaN
162              NaN
163              NaN
164              NaN
166              NaN
167              NaN
168            puppo
169              NaN
170              NaN
172       doggopuppo
173              NaN
174              NaN
175              NaN
176              NaN
177              NaN
178              NaN
181              NaN
183              NaN
187              NaN
190              NaN
191       doggopuppo
192              NaN
193              NaN
196              NaN
197              NaN
198              NaN
199           pupper
200     doggofloofer
201              NaN
202              NaN
203              NaN
205              NaN
206              NaN
207              NaN
208              NaN
209              NaN
210              NaN
213              NaN
214              NaN
215              NaN
216              NaN
217              NaN
219              NaN
220           pupper
221              NaN
223              NaN
224              NaN
225              NaN
226              NaN
227              NaN
229              NaN
232              NaN
233              NaN
235              NaN
236              NaN
237              NaN
238              NaN
239              NaN
240            doggo
241              NaN
242              NaN
243              NaN
244              NaN
245              NaN
246              NaN
248            doggo
249           pupper
252              NaN
253              NaN
254              NaN
255              NaN
256              NaN
257              NaN
258              NaN
259              NaN
261              NaN
262              NaN
263              NaN
264              NaN
265              NaN
267              NaN
268            doggo
269              NaN
270              NaN
271              NaN
275              NaN
276              NaN
277              NaN
278              NaN
279              NaN
280              NaN
282              NaN
283              NaN
284              NaN
287              NaN
288              NaN
292              NaN
293           pupper
294              NaN
295              NaN
296            puppo
297           pupper
299              NaN
300            doggo
301              NaN
304           pupper
305              NaN
306              NaN
308              NaN
311              NaN
312              NaN
314              NaN
315              NaN
316              NaN
317              NaN
318            doggo
320              NaN
321              NaN
322              NaN
323              NaN
324              NaN
325              NaN
326              NaN
328              NaN
329              NaN
330           pupper
331            doggo
333              NaN
334              NaN
335              NaN
336              NaN
337              NaN
338              NaN
339            doggo
344            doggo
345            doggo
347              NaN
348              NaN
349              NaN
350              NaN
351            doggo
352           pupper
353              NaN
354              NaN
355              NaN
356              NaN
358              NaN
360              NaN
361              NaN
362            doggo
363            doggo
364              NaN
365              NaN
367              NaN
368              NaN
369              NaN
370              NaN
371              NaN
372            doggo
373              NaN
374              NaN
375              NaN
376              NaN
377              NaN
378           pupper
379              NaN
380              NaN
381              NaN
383              NaN
384            doggo
385            doggo
388              NaN
389            doggo
390              NaN
391            doggo
392              NaN
393              NaN
394              NaN
395            puppo
396              NaN
398            puppo
400              NaN
401              NaN
402           pupper
403              NaN
404              NaN
405              NaN
407              NaN
408              NaN
410              NaN
412              NaN
413            puppo
414              NaN
416              NaN
417              NaN
418           pupper
419              NaN
421              NaN
423            doggo
424              NaN
426            doggo
428              NaN
429            doggo
430              NaN
432              NaN
433              NaN
436              NaN
437              NaN
439            puppo
440            doggo
441              NaN
442              NaN
443              NaN
444           pupper
445              NaN
448            doggo
449            doggo
451              NaN
452              NaN
454              NaN
456              NaN
457              NaN
458              NaN
459              NaN
460      doggopupper
461              NaN
463              NaN
464              NaN
466              NaN
467              NaN
468              NaN
470              NaN
471              NaN
472              NaN
473              NaN
474              NaN
477            doggo
478           pupper
480              NaN
481              NaN
482              NaN
483           pupper
484              NaN
486              NaN
487              NaN
489            doggo
490              NaN
491              NaN
492              NaN
493            doggo
494              NaN
495              NaN
496              NaN
497              NaN
499            doggo
500              NaN
501            doggo
502              NaN
503              NaN
504              NaN
505              NaN
507              NaN
508              NaN
509              NaN
510              NaN
511              NaN
512              NaN
514              NaN
515           pupper
516              NaN
517              NaN
518              NaN
519              NaN
520              NaN
521              NaN
523              NaN
524              NaN
525              NaN
526              NaN
527           pupper
528              NaN
529              NaN
531      doggopupper
532              NaN
533           pupper
534              NaN
536           pupper
537              NaN
539              NaN
540              NaN
542              NaN
544              NaN
545            puppo
547              NaN
548              NaN
549              NaN
550              NaN
551              NaN
553              NaN
554            puppo
556           pupper
557              NaN
559              NaN
560              NaN
562              NaN
563              NaN
564              NaN
567            puppo
569              NaN
571              NaN
572              NaN
573              NaN
575      doggopupper
578              NaN
579              NaN
580           pupper
582          floofer
584              NaN
585            doggo
587            doggo
588              NaN
590              NaN
591              NaN
592              NaN
593              NaN
607              NaN
608           pupper
609              NaN
610              NaN
613              NaN
614              NaN
616            doggo
617              NaN
619              NaN
620              NaN
621              NaN
622              NaN
623              NaN
624            doggo
625              NaN
626              NaN
628              NaN
630              NaN
631           pupper
632              NaN
633              NaN
635              NaN
636              NaN
637              NaN
638              NaN
639              NaN
640              NaN
641              NaN
642              NaN
643            puppo
644              NaN
645              NaN
646              NaN
647              NaN
648              NaN
649              NaN
650              NaN
651              NaN
652              NaN
653              NaN
657              NaN
658              NaN
659              NaN
660              NaN
662              NaN
663            puppo
665              NaN
666              NaN
667              NaN
668              NaN
670              NaN
672           pupper
673              NaN
674              NaN
675              NaN
676              NaN
678              NaN
679              NaN
680              NaN
681              NaN
683              NaN
684              NaN
685              NaN
687              NaN
688              NaN
689            puppo
690              NaN
691              NaN
693              NaN
695              NaN
696              NaN
697              NaN
698            doggo
699              NaN
700              NaN
703              NaN
704              NaN
705      doggopupper
706              NaN
707              NaN
708              NaN
709              NaN
710              NaN
711              NaN
712              NaN
713            puppo
714              NaN
715              NaN
716              NaN
717              NaN
718              NaN
719              NaN
721              NaN
722              NaN
723              NaN
724            doggo
725              NaN
726              NaN
727            doggo
729              NaN
730              NaN
731            doggo
732              NaN
733      doggopupper
734              NaN
735              NaN
736            puppo
737              NaN
738              NaN
739              NaN
740              NaN
743              NaN
744              NaN
746            doggo
747              NaN
748           pupper
750              NaN
751              NaN
752              NaN
754              NaN
755              NaN
756              NaN
757              NaN
758              NaN
760              NaN
761              NaN
762           pupper
763           pupper
765              NaN
766              NaN
768              NaN
769              NaN
771              NaN
772           pupper
774          floofer
775              NaN
776           pupper
777              NaN
779              NaN
780            doggo
781              NaN
782            doggo
783              NaN
785              NaN
786              NaN
787              NaN
788              NaN
789           pupper
790              NaN
791              NaN
792              NaN
793           pupper
795              NaN
796              NaN
797              NaN
798            doggo
799              NaN
801              NaN
802           pupper
803              NaN
804              NaN
805              NaN
806              NaN
807            doggo
808              NaN
809              NaN
810              NaN
812              NaN
813              NaN
814              NaN
816              NaN
817              NaN
819              NaN
820              NaN
821              NaN
823              NaN
824              NaN
825              NaN
827              NaN
828              NaN
830              NaN
831              NaN
832              NaN
834              NaN
835            doggo
836              NaN
837              NaN
838              NaN
839            doggo
840              NaN
842              NaN
844              NaN
845              NaN
846              NaN
848              NaN
849              NaN
850              NaN
851              NaN
852              NaN
853           pupper
854              NaN
855              NaN
856              NaN
858              NaN
859              NaN
861              NaN
862              NaN
863              NaN
864              NaN
865              NaN
866              NaN
867              NaN
869              NaN
870              NaN
871              NaN
873              NaN
874              NaN
875              NaN
876              NaN
877            doggo
878              NaN
879              NaN
880              NaN
881            doggo
882              NaN
883              NaN
884              NaN
886           pupper
887              NaN
888              NaN
889      doggopupper
891              NaN
892              NaN
893              NaN
894              NaN
896              NaN
897              NaN
898              NaN
899            doggo
900              NaN
901              NaN
902              NaN
903              NaN
904              NaN
905              NaN
906              NaN
907              NaN
909              NaN
910              NaN
912              NaN
913              NaN
914            doggo
915              NaN
916              NaN
917           pupper
918              NaN
919            doggo
920              NaN
921              NaN
922            puppo
923           pupper
924            doggo
925              NaN
927              NaN
928              NaN
929              NaN
930              NaN
931              NaN
932              NaN
933              NaN
934            doggo
935              NaN
936              NaN
938              NaN
939              NaN
940              NaN
941              NaN
942              NaN
944            doggo
945            doggo
946            doggo
947            puppo
948            doggo
950              NaN
951           pupper
952              NaN
953              NaN
954              NaN
955              NaN
956      doggopupper
957              NaN
958           pupper
959              NaN
960              NaN
961            puppo
962           pupper
963              NaN
964           pupper
965              NaN
966           pupper
968              NaN
969              NaN
970              NaN
971              NaN
972              NaN
973           pupper
974              NaN
975              NaN
976              NaN
977            doggo
978              NaN
979              NaN
980              NaN
981           pupper
982              NaN
983              NaN
984          floofer
985            doggo
986              NaN
987            doggo
988              NaN
989            doggo
990              NaN
991              NaN
992            doggo
993           pupper
994              NaN
995              NaN
996              NaN
997              NaN
998              NaN
999              NaN
1000          pupper
1001             NaN
1002             NaN
1003             NaN
1004             NaN
1006             NaN
1007             NaN
1008             NaN
1009             NaN
1010             NaN
1011             NaN
1013             NaN
1014             NaN
1015             NaN
1017             NaN
1019             NaN
1020             NaN
1021             NaN
1022         floofer
1024             NaN
1025             NaN
1026             NaN
1027          pupper
1028             NaN
1029             NaN
1030           doggo
1031             NaN
1032             NaN
1033             NaN
1034             NaN
1035           puppo
1036             NaN
1037             NaN
1038             NaN
1039           doggo
1040          pupper
1041             NaN
1042             NaN
1044             NaN
1045             NaN
1046             NaN
1047             NaN
1048           puppo
1049          pupper
1050             NaN
1051           doggo
1052             NaN
1053          pupper
1054             NaN
1055             NaN
1056             NaN
1057          pupper
1058             NaN
1059          pupper
1060             NaN
1061             NaN
1062             NaN
1063     doggopupper
1064             NaN
1065             NaN
1066             NaN
1067          pupper
1068             NaN
1069             NaN
1070             NaN
1071             NaN
1072             NaN
1073             NaN
1074             NaN
1075           doggo
1076          pupper
1077             NaN
1078             NaN
1079           doggo
1081             NaN
1082             NaN
1083           puppo
1084             NaN
1085             NaN
1086             NaN
1087             NaN
1088             NaN
1089             NaN
1090             NaN
1091         floofer
1092             NaN
1093          pupper
1094             NaN
1095          pupper
1096          pupper
1097             NaN
1098             NaN
1099             NaN
1100          pupper
1101             NaN
1102             NaN
1103           doggo
1104          pupper
1105             NaN
1106             NaN
1107             NaN
1108             NaN
1109             NaN
1110         floofer
1111             NaN
1112             NaN
1113     doggopupper
1114             NaN
1115             NaN
1116             NaN
1117           doggo
1118             NaN
1119             NaN
1120           doggo
1121             NaN
1122          pupper
1123             NaN
1124             NaN
1125             NaN
1126             NaN
1128             NaN
1129             NaN
1130             NaN
1131             NaN
1132             NaN
1133             NaN
1134             NaN
1135             NaN
1136             NaN
1137             NaN
1138          pupper
1139          pupper
1140             NaN
1141           doggo
1142          pupper
1143          pupper
1144             NaN
1145             NaN
1146             NaN
1147             NaN
1148             NaN
1149             NaN
1150             NaN
1151             NaN
1152          pupper
1153             NaN
1154             NaN
1155             NaN
1156           doggo
1157          pupper
1158             NaN
1159             NaN
1160          pupper
1161             NaN
1162             NaN
1163             NaN
1164             NaN
1165             NaN
1166             NaN
1167             NaN
1168          pupper

In [65]:
twitter_archive_clean.dog_stages.value_counts()

pupper          243
doggo            78
puppo            28
doggopupper       9
floofer           9
doggopuppo        2
doggofloofer      1
Name: dog_stages, dtype: int64

### 2- rating_numerator, rating_denominator columns should be one column(rating)

#### Define

Devide `rating_numerator` by `rating_denominator` to compute rating
Drop unnecessary columns

#### Code

In [66]:
# compute numerator / denominator ratio to see tweets score.
twitter_archive_clean['rating_ratio'] = twitter_archive_clean.rating_numerator / twitter_archive_clean.rating_denominator

In [67]:
# drop columns
twitter_archive_clean = twitter_archive_clean.drop(['rating_numerator'] , axis = 1)
twitter_archive_clean = twitter_archive_clean.drop(['rating_denominator'] , axis = 1)

#### Test

In [68]:
twitter_archive_clean.head(1)

,tweet_id,timestamp,source,text,expanded_urls,name,doggo,floofer,pupper,puppo,dog_stages,rating_ratio
0,892420643555336193,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,,,,,NaN,1.3

Tidiness
twitter_archive
1- doggo, floofer, pupper, puppo columns instead of a single column dog_stage 2- rating_numerator, rating_denominator columns should be one column(rating)

**After taking care of dirty and untidy data, all tables need to be merged. According to the rule of tidy data: 1: each variables forms a column 2: each observation forms a row 3: each type of observational unit forms a table

And twitter_archive, image_prediction, tweepy_data are all about WeRateDog tweet information, hence it breaks the 3rd rule. I should merge all of them.

In [69]:
# 1 - two column for tweet id( id and id_str)
import requests
id = 'https://twitter.com/anyuser/status/892420643555336193'
id_str = 'https://twitter.com/anyuser/status/892420643555336192'
response_id = requests.get(id)
response_id_str = requests.get(id_str)

print(response_id,response_id_str)

<Response [200]> <Response [200]>

In [70]:
# Change datatype od timestamp column to datetime
pass
twitter_archive['timestamp'] = pd.to_datetime(twitter_archive['timestamp'])